<div class="row no-gutters p-3" [style.min-height]="screenHeight">
  <div class="col-12 mb-3">
    <div class="row no-gutters">
      <div class="col-6 col-md-12 text-left">
        <a routerLink="/home" class="navbar-brand" id="brand">
          {{brandName}}
        </a>
      </div>
      <div class="col-6 text-right d-inline-block d-md-none">
        <button
          class="navbar-toggler float-right border"
          type="button"
          data-target="#sidebar" (click)="toogleSidebar()">
          <img src="../../../assets/images/menu/menu.svg" style="width: 25px;" />
        </button>
      </div>
      <div class="col-12 d-inline-block d-md-none"><hr></div>
    </div>
    <div class="row no-gutters d-md-block" [ngbCollapse]="isToogle">
      <div class="col-12 mb-3 text-justify" id="sidebar" *ngIf="sidebarItems">
        <div class="row no-gutters" *ngFor="let sidebar of sidebarItems">
          <div class="col-12 p-3">
            <a routerLink="{{sidebar.link}}">{{sidebar.label}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


